
.StatusIndicator {
    padding: 5px 30px;
    color: #FFF;
    box-sizing:border-box;
    border-radius: 4px;
}

.Online {
    background-color: green;
}
.Offline {
    background-color: red;
}

@media (max-width: 960px) {

    .StatusIndicator {
        display: block;
        text-indent: 1000px;
        white-space: nowrap;
        overflow:  hidden;
        width:  40px;
        height: 40px;
        padding: 0;
    }
}

