.Server {

    box-sizing: border-box;

    cursor: pointer;
}

.Server:hover {
    background-color: #eee;
}

.Server td {
    padding: 10px;
    height: 100%;

    vertical-align: middle;
}

.Server > td > img {
    width: 100%;
}

.Server .name {
    cursor: pointer;
}

.Server .banner {
    background: lightgray;
    width: 468px;
    height: 60px;

    cursor: pointer;
}

.Server .banner:hover {
    cursor: pointer;
}


.ServerIp {
    background-color: #ddd;
    padding: 5px;
    box-sizing: border-box;
    width: 468px;
    cursor: text;
}

.Rank {
    background: #bdc3c7;
    color: rgb(92, 92, 92);
    border-radius: 4px;
    font-weight: bold;
    padding: 5px 10px;
}