.Server {

    box-sizing: border-box;

    cursor: pointer;
}

.Server:hover {
    background-color: #eee;
}

.Server td {
    padding: 10px;
    height: 100%;

    vertical-align: middle;
}



.Server .name {
    cursor: pointer;
}

.Banner img {
    background: lightgray;
    width: 468px;
    height: 60px;

    cursor: pointer;
}

.Banner img:hover {
    cursor: pointer;
}


.ServerIp {
    background-color: #ddd;
    padding: 5px;
    box-sizing: border-box;
    width: 468px;
    cursor: text;
}

.Rank > span {
    background-color: #bdc3c7;
    color: rgb(92, 92, 92);
    border-radius: 4px;
    font-weight: bold;
    padding: 10px 12px;
}

.Sponsored {
    background-color: rgb(238, 181, 36);
    color: #FFF;
}


@media (max-width: 640px) {

    .Server {
        position: relative;
        display: block;
        margin-bottom: 40px;
        position: relative;
        background-color: #fff;
        max-width: 468px;
        margin: 0 auto 30px;
        padding: 0;
        border-radius: 4px;
        overflow: hidden;
        height: fit-content !important;
    }   

    .Rank {
        width: 40px !important;
        height: 40px !important;
        position: relative;
        display: inline-block;
     
        padding: 0px !important;
    }

    .Rank span {
        padding-top: 7px !important;
        vertical-align: middle;
        box-sizing: border-box;
    }

    .Name {
        width: 328px !important;
        position: relative;

        
        height: 40px !important;
        display: inline-block;
        text-align: center;

    }

    .Name span {
        width: fit-content;
        position: relative;
        display: block;
        margin: 0px auto;
       
    }

    .Banner {
        width: 100%;
    }

    .ServerIp {

    }

    .Players {

    }

    .Status {
        position: absolute;
        top: 5px;
        right: 30px;
        width: 100px;
        height: 40px;
        align-items: center;
        float: left;
    }
}